/* Event */
a[href$="inline_block%3Aevent"]:before {
  background-image: url("../icons/event.svg") !important;
}

/* Event list teaser */
a[href$="views_block%3Aevents-block_event_teaser"]:before {
  background-image: url("../icons/event-list-teaser.svg") !important;
}

/* Event list list */
a[href$="views_block%3Aevents-block_event_list"]:before {
  background-image: url("../icons/event-list-list.svg") !important;
}
