{# Set up basic date variables #}
{% set start_date = node.field_event_start_date.date %}
{% set end_date = node.field_event_end_date.date %}
{% set multiple_dates = start_date|date('Y-m-d') < end_date|date('Y-m-d') %}
{% set multiple_months = start_date|date('Y-m') < end_date|date('Y-m') %}
{% set multiple_years = start_date|date('Y') < end_date|date('Y') %}

{% set date_format %}
  {% if langcode == 'sv' %}
    {{ 'j M' }}
  {% else %}
    {{ 'M j' }}
  {% endif %}
{% endset %}

{% set date_format_short %}
  {% if langcode == 'sv' %}
    {{ 'j M' }}
  {% else %}
    {{ 'M j' }}
  {% endif %}
{% endset %}

{% set date_time_format %}
  {{ 'H:i' }}
{% endset %}

{% set date_output %}
  {% if multiple_dates and multiple_months and multiple_years %}
    <span class="sr-only">{{ 'Start date'|t }}</span>
    <time datetime="{{ start_date }}">{{ start_date|date(date_format) }}</time>
    <div aria-hidden="true">&nbsp;–&nbsp;</div>
    <span class="sr-only">{{ 'End date'|t }}</span>
    <time datetime="{{ end_date }}">{{ end_date|date(date_format) }}</time>
  {% elseif multiple_dates and not multiple_months and not multiple_years %}
    <span class="sr-only">{{ 'Start date'|t }}</span>
    <time datetime="{{ start_date|date('Y-d') }}">{{ start_date|date(date_format_short) }}</time>
    <div aria-hidden="true">&nbsp;–&nbsp;</div>
    <span class="sr-only">{{ 'End date'|t }}</span>
    <time datetime="{{ end_date|date('Y-d') }}">{{ end_date|date(date_format_short) }}</time>
    <div aria-hidden="true">&nbsp;</div>
    <span class="sr-only">{{ 'Year'|t }}</span>
    <time datetime="{{ end_date|date('Y') }}">{{ end_date|date('Y') }}</time>
  {% else %}
    <span class="sr-only">{{ 'Start date'|t }}</span>
    <time datetime="{{ start_date }}">{{ start_date|date(date_format) }}</time>
    <div class="sr-only">
      <span>{{ 'End date'|t }}</span>
      <time datetime="{{ end_date }}">{{ end_date|date(date_format) }}</time>
    </div>
  {% endif %}
{% endset %}

{% set preamble = content.field_event_preamble|render|striptags %}

<article{{ attributes.addClass('relative') }}>
  <a class="group" href="{{ url }}" aria-label="{{ label["#object"].title.0.value }}">
    {% if content.field_event_image is not empty %}
      <div class="relative">
        <figure class="flex flex-col mb-4 overflow-hidden">
          {{ content.field_event_image }}
        </figure>
      </div>
    {% endif %}

    <div class="flex items-center space-x-2 absolute top-4 right-4">
      <div class="flex bg-gray-100 text-gray-900 text-xs font-bold px-2 py-1">
        <span class="sr-only">{{ 'Event type:'|t }} </span>{{ content.field_event_type.0["#title"] }}
      </div>
      <div class="flex bg-gray-100 text-gray-900 text-xs font-bold px-2 py-1">
        {{ date_output }}
      </div>
    </div>

    {{ title_prefix }}
    <h2
      class="text-lg mb-2 font-bold transition text-blue-900 text-blue-900 hover:text-blue-700 group-hover:text-blue-700 group-hover:underline group-focus:underline"
    >
      {{ label["#object"].title.0.value }}
    </h2>
    {{ title_suffix }}

    <p class="text-secondary-text font-preamble">
      {{ preamble|length > 200 ? preamble|slice(0, 150) ~ '...' : preamble }}
    </p>
  </a>
</article>
