{# Decide layout based on view mode #}
{% set layoutClasses = rows.0.content["#view_mode"] == 'event_teaser' ? 'grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3' : 'divide-y divide-solid divide-gray-200' %}

{% if view.current_display == 'page_events' %}
  <div class="container my-12 md:my-24">
    <h1 class="font-bold mb-4 text-2xl leading-snug md:text-3xl mb:mb-6 md:leading-snug lg:mb-8 lg:text-4xl lg:leading-snug xl:text-5xl xl:leading-snug">{{ view.title }}</h1>
    <div class="{{ layoutClasses }}">
      {% for row in rows %}
        <div{{ row.attributes.addClass(rowClasses) }}>
          {{- row.content -}}
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="{{ layoutClasses }}">
    {% for row in rows %}
      <div{{ row.attributes.addClass(rowClasses) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
  </div>
{% endif %}

